#recipeTitle {
    border: 2px solid black;
    padding: 20px;
}


#title {
    font-size: 2rem;
    text-align: center;
    font-family: oblique;
    font-weight: bolder;

}



#foodRecipe {
    height: fit-content;
    margin-top: 20px;
    padding: 2%;
    height: fit-content;
    width: 70%;
    border: 2px solid black;
    display: inline-block;
    word-wrap: break-word;
}

.Food {
    font-size: 1rem;
    font-family: Georgia, serif;
}

.drink {
    font-size: 1rem;
    font-family: Georgia, serif;

}

#recipeInfo {
    font-size: 1rem;
}

#drinkRecipe {
    display: inline-block;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid black;
    float: right;
    width: 29%;
    height: fit-content;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#drinks {
    font-size: 1rem;
}


#foodImage {
    height: 20%;
    width: 20%;
    border-radius: 100px;
    position: relative;
}
    
#drinkImage {
    height: 20%;
    width: 20%;
    border-radius: 100px;
    position: relative;
    float: right;
}

#DrinkButton {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
}


#likeButton {
    float: right;
    margin: 1%;
    padding: 1%;
}


@media screen and (max-width:768px)  {
    #foodRecipe {
        
        width: 100%;
    }

    #drinkRecipe {
        width: 100%;
    }

}

@media screen and (max-width:992px)  {
    #foodRecipe {
        
        width: 100%;
    }

    #drinkRecipe {
        width: 100%;
    }

}